{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>{{advert.title}}</h1>

    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('notice') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </p>

    <p>
      {{advert.content}}
    </p>loooooolloyngbiu
    {% if advert.image is not null %}
  <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
  {% endif %}
   {% for candidature in listApplications %}
        <h6> {{ candidature.author }}</h6>
          <p> {{ candidature.content }}</p>
    {% endfor %}

    {% if not advert.categories.empty %}
  <p>
    Cette annonce est parue dans les catégories suivantes :
    {% for category in advert.categories %}
      {{ category.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
{% endif %}

{% if listAdvertSkills|length > 0 %}
  <div>
    Cette annonce requiert les compétences suivantes :
    <ul>
      {% for advertSkill in listAdvertSkills %}
        <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
   
  </body>
</html>